<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/signup.css">
	 
	<title>Login Page</title>
</head>
<body>
	<div id="container" class="container">
		<!-- FORM SECTION -->
		<div class="row">
			<!-- SIGN UP -->
			<div class="col align-items-center flex-col sign-up">
				
					<div class="form sign-up">
						<form action="/signup" method="post">
						<div class="input-group">
							<i class='bx bxs-user'></i>
							<input type="text" placeholder="Username" name="username" required>
						</div>
						<div class="input-group">
							<i class='bx bx-mail-send'></i>
							<input type="email" placeholder="Email" name="email" required>
						</div>
						<div class="input-group">
							<i class='bx bxs-lock-alt'></i>
							<input type="password" placeholder="Password" name="password" required>
						</div>
						<% if (typeof error !== 'undefined') { %>
							<div style="color: red;"><%= error %></div>
						<% } %>
						<div class="input-group">
							<i class='bx bxs-lock-alt'></i>
							<input type="password" placeholder="Confirm password" name="password2" required>
						</div>
						<button type="submit">
							Sign up
						</button>
						</form>
						<p>
							
							<b >
								Sign in here
							</b>
						</p>
					</div>
				</div>
			</div>
		
			</div>
			<!-- END SIGN UP -->
			<!-- SIGN IN -->
			
							
				
	<script src="/public/script/script.js"></script>
</body>
</html>